.location-list-item {
  list-style:none;
  font-size: 1.2em;
}

.routeCard {
  box-shadow: 0 0 8px 5px rgba(0,0,0,0.15);
  border-radius: 5px;
  /* background-color: coral; */
}

.routeCard:hover {
  box-shadow: 0 0 8px 5px rgba(0,0,0,0.4);
}

.menu-text {
  font-size: 1.4em;
}

body {
  /* background-color: grey; */
  background-image: url(../smithRockBlurred.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  background-color: black;
}

#mainWindow {
  /* background-color: rgba(255, 255, 255, 0.2); */

  /* opacity: .2; */
}

.top-bar {
  background-color: #3d3d3d;
}

.menu .menu-text {
  background-color: #3d3d3d;
  color: #d8d8d8
}
