.location-list-item {
  list-style:none;
  font-size: 1.2em;
}

.routeCard {
  box-shadow: 0 0 8px 5px rgba(0,0,0,0.15);
  border-radius: 5px;
  /* background-color: coral; */
}

.routeCard:hover {
  box-shadow: 0 0 8px 5px rgba(0,0,0,0.4);
}
